.DS_Store
__pycache__/
venv/
*.pyc
*.ncb
*.sdf
*.db
UpgradeLog*.htm
*/.vs/*
*.sln.cache
.vs
.vscode/settings.json
version_generated.h
vcpkg_installed
*testout*
sDNA/sdna_vs2008/tests/**/odtest.*
sDNA/sdna_vs2008/tests/**/regtestresids_py?.*
sDNA/sdna_vs2008/tests/**/tinypred_py?.*
sDNA/sdna_vs2008/tests/**/geom_test_py?.txt
sDNA/sdna_vs2008/tests/**/out_py?.*
sDNA/sdna_vs2008/tests/**/tinyout_*

output/release/sdna_vs2008.dll
output/release/x64/sdna_vs2008.dll
output/release/x64/geos_c.dll
output/release/*.py
output/release/*.R
output/release/bin/*.py
output/release/rportable/**/*
output/release/bin/README.txt
output/release/license.rtf
output/release/sDNA.pyt
output/release/sDNA_ArcGIS_extra_tools.tbx

sDNA/sdna_vs2008/Release
sDNA/sdna_vs2008/x64/Release

installerbits/advanced/sdna-cache

sDNA_setup*.msi

build_cmake
build_output_cmake
build_output_cmake_x64
build_output_cmake_Win32
build_output_cmake_zig
/sDNA/sDNA_2022/x64
sDNA/sdna_vs2008/sdna_vs2008.vcxproj.user
output/Release/geos_c.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.whl
*.zip
*.tar.gz
/build_output_hatchling_windows
